<div class="container">
  <div class="row">
    <div class="col-6 mx-auto text-center top_img">
      本棚が溢れかえってないですか？<br>
      そんな時はBookersのにお任せを。<br>
      あなたの本棚の代わりを担います。
    </div>
  </div>
</div>
